/*body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/

.global {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    text-align: center;
}

p {
    display: inline;
}

p.error {
    font-size: 0.9em;
}

p.error-extra {
    font-size: 0.5em;

}

p.error-extra2 {
    font-size: 0.4em;
}

input {
    text-align: center;
    font-family: 'Mina';
    display: inline;
}

form {
    display: flex;
    justify-content: center;
}

.contain {
    width: 100%; 
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title {
    width: 100%;
    font-size: 2.1em; 
    margin: 0;
}

.search {
    display: flex;
    justify-content: center;
}

.bar {
    width: 500px;
    height: 50px;
    border-radius: 10px 0px 0px 10px;
    border: 2px solid rgb(50,50,75);
    text-align: center;
    font-size: large;
}

.submit{
    transition-duration: 150ms;
    width: 50px;
    height: 50px;
    border-radius: 0px 10px 10px 0px;
    border: 2px solid rgb(50, 50, 75);
    background-color: #54466b;
    color: blanchedalmond;
}

.submit:hover {
    transition-duration: 150ms;
    scale: 1.05;
    background-color: #7c74b8;
    color: rgb(40, 49, 45);
}

@keyframes show {
    50% {
        opacity: 0;
    }
}

.c {
    animation-name: show;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: normal;
    animation-timing-function: step-start;
}

.ui-autocomplete {
    background-color: #333 !important; 
    color: #eee !important;
    border: none !important; 
    border-radius: 5px !important;
    font-family: 'Mina' !important; 
    font-size: 16px;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 200px; 
}

.menubutton {
    transition-duration: 150ms;
    text-align: center;
    height: 10vh;
    width: 50%;
    background-color: #54466b;
    border-width: 1px;
    border-style: solid;
    border-color: #9c94d8;
    border-radius: 3vh;
    color: inherit;
    font-family: inherit;
    font-size: x-large;
    margin: 1%;
    padding: 3px;
}

.menubutton:hover {
    transition-duration: 150ms;
    background-color: #c4b6eb;
    border-width: 1px;
    border-style: solid;
    border-color: #5c5498;
    border-radius: 3vh;
    color: #333;
}

.overlay {
    z-index: 3;
    width: 90%;
    height: 90%;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: absolute;
}

.overlayHeader {
    height: 30%;
    display: block;
    text-align: left;
}

.overlayHeader .overlaytitle {
    float: left;
    width: 70%;
    height: 100%;
    text-align: left;
    padding: 5%;
}

.overlayHeader .overlaybutton{
    float: right;
    width: 30%;
    height: 100%;
}

.buttonContainer {
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 10% auto;
    overflow-y: scroll;
}

.option {
    transition-duration: 150ms;
    text-align: center;
    height: 10vh;
    width: 20%;
    background-color: #54466b;
    border-width: 1px;
    border-style: solid;
    border-color: #9c94d8;
    border-radius: 3vh;
    color: inherit;
    font-family: inherit;
    font-size: x-large;
    margin: 1%;
    padding: 3px;
}

.option.active {
    transition-duration: 150ms;
    background-color: #c4b6eb;
    border-width: 1px;
    border-style: solid;
    border-color: #5c5498;
    border-radius: 3vh;
    color: #333;
}