html {
    font-family: 'Mina';
    color: blanchedalmond;
    /* background:linear-gradient(rgba(255, 162, 162, 0.55), rgba(255, 170, 170, 0.55)), url(https://i.ibb.co/rs0xHyh/cherry-blossom-tree-blurred.gif); */
    background-size: auto 140%;
    background-repeat: no-repeat;
    background-color: rgb(20, 20, 20);
    background-image: url(https://img.freepik.com/premium-photo/purple-background-graphic-modern-texture-blur-abstract-digital-design-backgrounds_97567-1072.jpg?semt=ais_hybrid);

}

label {
    display: none;
}

header {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.5%;

}

ul {
    padding: 0%;
    margin: 0;
    height: 70%;
}

li {
    display: inline;
    width: 25%;
}

a {
    text-decoration: none;
}

tr {
    cursor: pointer;
    border: 1px solid black;
    transition-duration: .1s;
    background-color: rgb(75, 75, 85);
    height: auto;
}

tr:hover {
    background-color: rgb(105, 105, 125);
    transition-duration: .1s;
    scale: 1.1;
}

table {
    border-spacing: 0px 10px;
    border-collapse: separate;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 15px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

header {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav {
    margin-top: 1.5%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

li {
    display: inline;
    width: 25%;
}

a {
    text-decoration: none;
}

form {
    display: flex;
    justify-content: center;
}

.navbaritem {
    border-radius: 3vmin;
    transition-duration: 150ms;
    height: 100%;
    display: inline-flex;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: rgb(20, 20, 20);
    color: blanchedalmond;
    align-items: center;
    font-size: large;
}

.navbaritem:hover {
    transition-duration: 150ms;
    background-color: rgb(40, 40, 40);
    box-shadow: 0px 0px 10px rgb(40,40,40);
}

label {
    display: none;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.resultstitle {
    width: 100%;
    margin-top: 8%; 
}

ul {
    padding: 0%;
    margin: 0;
    height: 70%;   
}
