<html>
    <head>
        <title>Next Episode</title>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='homepage.css') }}>
        <link href='https://fonts.googleapis.com/css?family=Mina' rel='stylesheet'>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><label for="home">HOME</label><a id="home" class="navbaritem" href="/">Home</a></li>
                    <li><label for="advanced">Advanced Search</label><a id="advanced" class="navbaritem" href="/">Advanced Search</a></li>
                    <li><label for="rankings">Rankings</label><a id="rankings" class="navbaritem" href="/">Rankings</a></li>
                    <li><label for="random">Random</label><a id="random" class="navbaritem" href="/random">Random</a></li>
                </ul>
            </nav>
        </header>
        <div class="contain">
            <div class="title">
                <p class="title">Next Episode</p>
                <p class="c title">|</p>
            </div>
            <div class="search">
                <form action="/search">
                    <label for="searchbar">Search Bar</label><input id="searchbar" type="text" name="title" class="bar" placeholder="Search" />
                    <label for="submitbutton">Submit</label><input id="submitbutton" type="submit" class="submit" value=""></input>
                </form>
            </div>
            <br><br><br>
            <br>
        </div>
    </body> 
</html>