
<html>
    <head>
        <title>Search Results | Next Episode</title>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='showlist.css') }}>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='global.css' ) }}>
        <link href='https://fonts.googleapis.com/css?family=Mina' rel='stylesheet'>
    <!""" + {{ids}}+ """>
    </head>
    <body>
        <header>            
            <nav>
                <ul>
                    <li><label for="home">HOME</label><a id="home" class="navbaritem" href="/">Home</a></li>
                    <li><label for="advanced">Advanced Search</label><a id="advanced" class="navbaritem" href="/">Advanced Search</a></li>
                    <li><label for="rankings">Rankings</label><a id="rankings" class="navbaritem" href="/">Rankings</a></li>
                    <li><label for="random">Random</label><a id="random" class="navbaritem" href="/random">Random</a></li>
                </ul>
            </nav>
        </header>
        <div class="resultstitle"><h1>Search Results for "{{ query }}"</h1></div>
        <br> 
        <div style="height: auto; overflow-y: scroll;">
            <table cellspacing=0>
                <tbody>
                    {% for ix in indices %}
                    <tr onclick='window.location = "/title?title={{ix[4]}}"'>
                        {% for data in ix[3:] %}
                        <td>{{ data }}</td>
                        </a>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>