
<html>
    <head>
        <title>Media Sorter</title>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='showlist.css') }}>
        <link href='https://fonts.googleapis.com/css?family=Mina' rel='stylesheet'>
    <!""" + {{ids}}+ """>
    </head>
    <body>
        <h1>Filtered TV Shows</h1>
        <br>
        <table cellspacing=0>
            <tbody>
                {% for ix in indices %}
                    <tr onclick='window.location = "/title?title={{ix[1]}}"'> 
                        {% for data in ix %}
                            <td>{{ data }}</td>
                        </a>
                        {% endfor %}  
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>