div {
    border: 1px solid black;
    border-radius: 10px;
    margin: 2%;
    overflow: auto;
}

.contain {
    display: flex;
}

.left {
    width: 50%;
    float: left;
}

.right {
    width: 50%;
    flex: auto;
}

.imgcontainer {
    height: auto;
}

.info {
    width: auto;
}

.morelike {
    flex: auto;
}